@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0b0f1a;
  color: #fff;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #0b0f1a;
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

/* SECTIONS */
.section-full {
  min-height: 100vh;
  padding: 140px 8% 80px;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text h1 {
  font-size: 52px;
}

.blink-text {
  font-size: 38px;
  color: #00f0ff;
  margin: 20px 0 40px;
  animation: blinkGlow 1.5s infinite;
}

@keyframes blinkGlow {
  0% { opacity: 1; }
  50% { opacity: 0.6; }
  100% { opacity: 1; }
}

.btn {
  padding: 14px 34px;
  background: #00f0ff;
  color: black;
  border-radius: 30px;
  text-decoration: none;
}

.hero-img {
  width: 420px;
  height: 420px;
  background: #00f0ff;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img img {
  width: 85%;
  height: 85%;
  border-radius: 18%;
}

/* ABOUT */
.about-section {
  display: flex;
  align-items: center;
  gap: 80px;
}

.about-img img {
  width: 420px;
  border-radius: 20px;
}

.about-text h2 {
  font-size: 38px;
  color: #00f0ff;
}

.about-text p {
  font-size: 18px;
  max-width: 600px;
}

/* SKILLS */
.skills-section h2,
.projects-section h2,
.contact-section h2 {
  text-align: center;
  font-size: 40px;
  color: #00f0ff;
  margin-bottom: 40px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.skill-card {
  background: #020617;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
}

.skill-card i {
  font-size: 48px;
  color: #00f0ff;
  margin-bottom: 10px;
}

/* PROJECTS */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.projects-grid .project-card:nth-child(4),
.projects-grid .project-card:nth-child(5) {
  grid-column: span 1;
  justify-self: center;
}

.project-card {
  background: #020617;
  padding: 15px;
  border-radius: 15px;
}

.project-card img {
  width: 100%;
  border-radius: 12px;
}

.project-card a {
  color: #00f0ff;
  text-decoration: none;
}

/* CONTACT */
.contact-section {
  text-align: center;
}

.contact-section p {
  font-size: 20px;
  margin-bottom: 30px;
}

.contact-icons {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.contact-icons a {
  font-size: 44px;
  color: #00f0ff;
}
