@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0b0f1a;
  color: #fff;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 8%;
}

.logo {
  font-size: 24px;
  font-weight: 600;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}

.navbar a.active,
.navbar a:hover {
  color: #00f0ff;
}

/* HERO */
.hero {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
}

/* TEXT */
.hero-text {
  max-width: 500px;
}

.hero-text h4 {
  font-size: 18px;
  margin-bottom: 5px;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 600;
}

.hero-text h3 {
  font-size: 24px;
  margin: 10px 0;
}

.hero-text span {
  color: #00f0ff;
}

.hero-text p {
  font-size: 14px;
  opacity: 0.85;
  margin: 20px 0;
}

/* SOCIALS */
.socials a {
  display: inline-block;
  margin-right: 10px;
  width: 35px;
  height: 35px;
  border: 2px solid #00f0ff;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
  color: #00f0ff;
  text-decoration: none;
  font-size: 14px;
}

/* BUTTON */
.btn {
  display: inline-block;
  margin-top: 25px;
  padding: 12px 28px;
  background: #00f0ff;
  color: #0b0f1a;
  text-decoration: none;
  border-radius: 30px;
  font-weight: 500;
}

/* IMAGE */
.hero-img {
    position: relative;
    width: 240px;          /* reduced */
    height: 240px;         /* reduced */
    background: #00f0ff;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 40px #00f0ff;
}
  
.hero-img img {
    width: 85%;            /* tighter fit */
    height: auto;
    border-radius: 18%;
}
  
