@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0b0f1a;
  color: #fff;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 25px 8%;
}

.navbar ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.navbar a:hover {
  color: #00f0ff;
}

/* HERO */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
}

.hero-text h1 {
  font-size: 48px;
}

.hero-text span {
  color: #00f0ff;
}

.socials a {
  margin-right: 10px;
  border: 2px solid #00f0ff;
  padding: 6px 10px;
  border-radius: 50%;
  color: #00f0ff;
  text-decoration: none;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 25px;
  background: #00f0ff;
  color: #000;
  border-radius: 25px;
  text-decoration: none;
}

/* IMAGE */
.hero-img {
  width: 320px;
  height: 320px;
  background: #00f0ff;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 40px #00f0ff;
}

.hero-img img {
  width: 85%;
  height: 85%;
  object-fit: cover;
  border-radius: 18%;
}

/* SECTIONS */
.section {
  padding: 80px 8%;
}

.section h2 {
  text-align: center;
  color: #00f0ff;
  margin-bottom: 30px;
}

.section-text {
  max-width: 700px;
  margin: auto;
  text-align: center;
}

/* SKILLS */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  max-width: 700px;
  margin: auto;
}

.skills-grid span {
  background: #020617;
  padding: 12px;
  text-align: center;
  border-radius: 10px;
}

/* PROJECTS */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}

.project-card {
  background: #020617;
  padding: 15px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.4s;
}

.project-card img {
  width: 100%;
  border-radius: 12px;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0, 240, 255, 0.3);
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #020617;
  padding: 30px;
  border-radius: 15px;
  max-width: 500px;
  text-align: center;
  animation: pop 0.4s;
}

@keyframes pop {
  from { transform: scale(0.7); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.close {
  position: absolute;
  right: 25px;
  top: 20px;
  font-size: 25px;
  cursor: pointer;
}
