@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0b0f1a;
  color: #ffffff;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 25px 8%;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

/* HERO */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
}

.hero-text h1 {
  font-size: 48px;
}

.hero-text h3 {
  margin: 10px 0 25px;
}

.typing {
  color: #00f0ff;
}

/* BUTTON */
.btn {
  padding: 12px 30px;
  background: #00f0ff;
  color: #000;
  text-decoration: none;
  border-radius: 30px;
}

/* IMAGE */
.hero-img {
  width: 320px;
  height: 320px;
  background: #00f0ff;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 40px #00f0ff;
}

.hero-img img {
  width: 85%;
  height: 85%;
  object-fit: cover;
  border-radius: 18%;
}

/* SECTIONS */
.section {
  padding: 80px 8%;
  text-align: center;
}

.section h2 {
  color: #00f0ff;
  margin-bottom: 20px;
}

.section-text {
  max-width: 700px;
  margin: auto;
  opacity: 0.9;
}

/* SKILLS */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  max-width: 900px;
  margin: 40px auto 0;
}

.skill-card {
  position: relative;
  background: #020617;
  padding: 35px 20px;
  border-radius: 15px;
  font-weight: 500;
  overflow: hidden;
}

.skill-card::before {
  content: attr(data-icon);
  position: absolute;
  font-size: 70px;
  opacity: 0.08;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* PROJECTS */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  margin-top: 40px;
}

.project-card {
  background: #020617;
  padding: 15px;
  border-radius: 15px;
  text-align: left;
  transition: 0.4s;
}

.project-card img {
  width: 100%;
  border-radius: 12px;
}

.project-card h3 {
  margin-top: 10px;
}

.project-card p {
  font-size: 14px;
  opacity: 0.85;
}

.project-card a {
  display: inline-block;
  margin-top: 10px;
  color: #00f0ff;
  text-decoration: none;
  font-size: 14px;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0,240,255,0.3);
}

/* CONTACT */
.contact-icons {
  margin-top: 20px;
}

.contact-icons a {
  margin: 0 12px;
  font-size: 22px;
  color: #00f0ff;
  text-decoration: none;
}
